.aboutAppModal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(95, 95, 95);
  opacity: 0.7;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.aboutAppBox {
  position: relative;
  top: 50%;
  left: 40%;
  background-color: #f7eedd;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 10px 10px 10px grey;
}

.githubIconAbout {
  position: relative;
  left: 25%;
  background-color: black;
  border-color: transparent;
  border-radius: 60%;
  width: 10%;
  transition: 0.5s ease-in;
}

.githubIconAbout:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.25);
}
.aboutHeading {
  margin: 0;
}

.myLink {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.aboutText {
  width: 100px;
}
