.dueDate,
.taskPrio,
.taskList {
  display: flex;
  flex-direction: column;
}

.editTask {
  background-color: #f7eedd;
  height: 90vh;
  border-radius: 12px 0px 0px 12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.editNewTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-content: right;
}

.nameInput,
.detailsInput,
.prioInput,
.listInput,
.dateInput {
  width: 75%;
}

.newTaskButtons {
  display: flex;
  gap: 20px;
}

.cancelNewTask {
  --c: #e95a49;
}

.hideEdit {
  height: 0;
  opacity: 0;
  max-width: 0;
}

.showEdit {
  max-width: 20rem;
  opacity: 1;
}

.editTask,
.createNewTask {
  transition: 0.5s cubic-bezier(1, 1, 1, 1);
}

.showNew {
  max-height: 13rem;
  opacity: 1;
  max-width: 32rem;
}

.hideNew {
  max-height: 0;
  opacity: 0;
  max-width: 0;
}

.createNewTask {
  background-color: #f7eedd;
  height: 25vh;
  border-radius: 12px 12px 12px 12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.largerNewTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addNewTaskContainer {
  display: flex;
  gap: 25px;
}

.taskName,
.taskDesc {
  display: flex;
  flex-direction: column;
}

.newNameAndDescCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newDateAndPrioCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
