.taskHeader {
  display: flex;
}

.detailHide {
  background-color: aquamarine;
  opacity: 0;
  max-height: 0;
}

.detailShow {
  max-height: 10rem;
}

.taskDetails {
  transition: 0.5s cubic-bezier(1, 1, 1, 1);
}

.markDone {
  background-color: grey;
  opacity: 0.5;
  border-radius: 12px;
}

.task {
  transition: 0.5s ease-in-out;
}

.dropdownButton {
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0;
}

.dropdownButtonIcon {
  position: relative;
  top: 50%;
  left: 0%;
  width: 25px;
  border-radius: 12px;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkAndTitle {
  display: flex;
}

.displayIncompleteTask,
.displayCompleteTask,
.upcomingTasksComplete,
.upcomingTasksIncomplete,
.todayTasksIncomplete,
.todayTasksComplete,
.displayOverdueIncomplete,
.displayOverdueComplete {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.dueDateAndPrio {
  display: flex;
  gap: 0.25rem;
}

.taskDetails {
  padding-left: 10px;
}

.upcomingButtonsTopContainer {
  display: flex;
  gap: 0.6rem;
}

.displayTaskCompleted:hover {
  cursor: pointer;
}
