.navBar {
  background-color: #f7eedd;
  height: 90vh;
  border-radius: 0px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.mainNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addNewListItemBtn {
  width: 75%;
  text-align: left;
}

.deleteListItem {
  --c: #e95a49;
  width: 25px;
  text-align: center;
}

.listButtonDiv {
  display: flex;
  justify-content: space-between;
}

.currentLists {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.addNewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.listEnter {
  display: flex;
  gap: 1rem;
}

.tasksBtnsNav {
  width: 75%;
  text-align: start;
}

.taskButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listButton {
  width: 75%;
  text-align: start;
}

.upcomingTasks,
.todayTask,
.overdueTask {
  display: flex;
  justify-content: space-between;
}

.upcomingTaskTotal,
.todayTaskTotal,
.overdueTaskTotal {
  text-align: center;
  --c: #e95a49; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  width: 25px;
}
